.header {
  height: 60px;
  border-bottom: 1px solid var(--color-gray10);
  background-color: #fff;
  /* @apply bg-white flex items-center justify-center; */
  @apply flex items-center justify-center;
}
